html{
    box-sizing: border-box;
    background-color: rgb(236, 242, 248);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    padding:20px;
}

.container, .container_2, .row_1, .row_2{
    display: flex;
    justify-content: space-between;
}

.container{
    max-width:1440px;
    height:600px;
    margin: 0 auto;
}

.container_2{
    flex-basis: 80%;
    flex-direction: column;
}

.row_1, .row_2{
    flex-basis: 50%;
}

.row_1{
    margin-bottom: 15px;
}

#testimonial_1{
    flex-basis: 65%;
    background-color: rgb(117, 65, 200);
    color:white;
    position: relative;
    z-index: 0;
}

#testimonial_2{
    flex-basis: 35%;
    background-color: rgb(72, 85, 106);
    color:white;
}

#testimonial_3{
    flex-basis: 35%;
    background-color: white;
}

#testimonial_4{
    flex-basis: 65%;
    background-color: rgb(25, 33, 46);
    color:white;
}

#testimonial_5{
    flex-basis: 20%;
    background-color: white;
}

.testimonial{
    padding:20px;
    border-radius: 5px;
    margin-right: 15px;
}

.testimonial > h2 {
    font-weight: 600;
    z-index: 3;
    position: relative;
}

.graduate_text{
    color:rgb(207, 207, 207);
}

#testimonial_3 .graduate_text, #testimonial_5 .graduate_text{
    color:rgb(100, 89, 89);
}

.verified{
    color:rgb(207, 207, 207);
    opacity: 70%;
    font-size: 85%;
}

#testimonial_3 .verified{
    opacity:100%;
}

.graduate{
    display:flex;
    position: relative;
    z-index: 3;
}

.graduate_2{
    margin-left: 20px;
}

.graduate_name{
    margin:0px;
    font-size: 1.05rem;
}

.verified{
    margin:0px;
}

.graduate > img{
    width:36px;
    height:36px;
    border-radius: 50%;
}

.border_img{
    border: 3px solid rgb(146, 95, 227);
}

#quote{
    position:absolute;
    right: 17%;
    top: 0px;
    z-index: 1;
}

.attribution{
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
    color:black;
    text-align: center;
}

@media (max-width:1038px){
    .container{
        flex-direction: column;
        height: auto;
    }

    .container_2{
        margin-bottom: 15px;
    }

    .attribution{
        position:relative;
        margin-top: 15px;
    }
}


@media (max-width:576px){
    .container_2{
        margin-bottom: 0px;
    }

    .row{
        flex-direction: column;
    }

    .row_1{
        margin-bottom: 0px;
    }

    .testimonial{
        margin-bottom: 15px;
    }

    .attribution{
        margin-top: 0px;
    }
}

